// @import '../common';

.song_list {
    border: 1px solid black;
    position: relative;
  }
  
  #unstyled {
    list-style: none;
    /* padding: 2%; */
  }
  
  audio {
      width: 80%;
  }
  
  
  .onee {
      display: inline;
  }